@import 'padrao-cores';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: Svh;
    background-image: linear-gradient(120deg, black, white, black);
}

.button {
    cursor: pointer;
    border: none;
    width: 150px;
    height: 80px;
    position: relative;
    justify-content: center;
    
    padding: 15px;
    margin: 30px 5px;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 600px;

    color: black;

    transition: 1s;
}

.red {
    background-color: $corVermelho;

    &::before {
        position: absolute;
            content: '';
            border-top: 5px solid lighten($corVermelho, 5%);
            border-left: 5px solid ligthen($corVermelho, 5%);
            border-right: 5px solid ligthen($corVermelho, 5%);
            border-bottom: 5px solid ligthen($corVermelho, 5%);

            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            transition: .5s;
    }

    &:hover {
        box-shadow: 7px 7px darken($corVermelho, 20%), -7px -7px lighten($corVermelho, 20%);

        &::before {
            border: 0px;
        }
    }
}

.yellow {
    background-color: $corAmarelo;

    &::before {
        position: absolute;
            content: '';
            border-top: 5px solid lighten($corAmarelo, 5%);
            border-left: 5px solid ligthen($corAmarelo, 5%);
            border-right: 5px solid ligthen($corAmarelo, 5%);
            border-bottom: 5px solid ligthen($corAmarelo, 5%);

            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            transition: .5s;
    }

    &:hover {
        box-shadow: 7px 7px darken($corAmarelo, 20%), -7px -7px lighten($corAmarelo, 20%);

        &::before {
            border: 0px;
        }
    }
}

.green {
    background-color: $corVerde;

    &::before {
        position: absolute;
            content: '';
            border-top: 5px solid lighten($corVerde, 5%);
            border-left: 5px solid ligthen($corVerde, 5%);
            border-right: 5px solid ligthen($corVerde, 5%);
            border-bottom: 5px solid ligthen($corVerde, 5%);

            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            transition: .5s;
    }

    &:hover {
        box-shadow: 7px 7px darken($corVerde, 20%), -7px -7px lighten($corVerde, 20%);

        &::before {
            border: 0px;
        }
    }
}

.auto {
    background-color: $corAzul;

    &::before {
        position: absolute;
            content: '';
            border-top: 5px solid lighten($corAzul, 5%);
            border-left: 5px solid ligthen($corAzul, 5%);
            border-right: 5px solid ligthen($corAzul, 5%);
            border-bottom: 5px solid ligthen($corAzul, 5%);

            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            transition: .5s;
    }

    &:hover {
        box-shadow: 7px 7px darken($corAzul, 20%), -7px -7px lighten($corAzul, 20%);

        &::before {
            border: 0px;
        }
    }
}

